<!--<div class="modal-header">
        </div>-->
        <div class="modal-body">
            <button type="button" class="close" ng-click="cancel()">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
        </button>
            <h3 class="modal-title">Are you sure want to remove ?</h3>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default" ng-click="cancel()">Close</button>
            <button class="btn btn-success" ng-click="ok()">Remove</button>
        </div>